[submodule "src/deep_pose_estimators/external/bite_selection_package"]
  path = src/deep_pose_estimators/external/bite_selection_package
	url = https://github.com/personalrobotics/bite_selection_package.git
